@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background-color: #111827;
  color: white;
}

@layer utilities {
  .scroll-mt-20 { scroll-margin-top: 5rem; }
}
